.divide{
 display: flex;
 flex-direction: row;
 height: 100vh ;
}
.sidebar{
    width: 10%;
    background-color: #128479;
    height: calc(100% - 10% - 10%); 
    padding-left: 5px; 
    padding-top: 5px;
}

.link1{
    text-decoration:none;
    padding-top: 17px;
    margin-left: 5px;
    color: white;
}

.link1:hover{
    background-color: #53c46a;
    justify-content: center;
}

.body{
    width: 90%;
    height: 80%;
    overflow-y: scroll;
}

 
 