.footer{
    padding-top: 30px;
    padding-left: 300px;
    color:azure ;
}
.links{
    color: azure;
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
    font-weight: bold;
    float: right;
}