.form{
    padding-top: px;
    margin-left: 10%;
    background-color: white;
    border: 1px solid #e2dfdf;
    border-radius: 10px;
    width: 40%;
}
.heading{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(177, 185, 185);
}
.loginbutton{
    width: 25%;
    border-radius: 5px;
    background-color: #128479;
    color: white;
    font-size: 12px;
}
.container{
    padding-top: 85px;
    padding-bottom: 10px;
}
.img{
    width: 10%;
    height: 10%;
    float: right;
    margin-left: 25px;
    margin-top: 45px;
    margin-right:25px;
}